<div class="card">
    <div class="card-header">CẤU TRÚC TỔ CHỨC</div>
    <div class="card-body">
        <button type="button" class="btn btn-primary" (click)="updateOrderTree()"><i class="bi bi-check-lg"></i> Cập
            nhật thứ tự</button>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createOrganize"><i
                class="bi bi-plus-lg"></i> Thêm mới</button>
        <a type="button" class="btn btn-secondary" (click)="viewOrganizeGrid()"><i class="bi bi-eye"></i> Xem dạng lưới</a>
        <div class="col-md-6">
            <input type="text" (keyup)="searchOrganize($event)" class="form-control" placeholder="Tìm kiếm Công ty | Phòng ban"
                aria-label="Tìm kiếm Công ty | Phòng ban" style="margin-top: 12px;">
        </div>
        <div style="margin: 12px 12px;">
            <!-- Gen Tree Organize -->
            <ul id="treeOrganize" class="ztree"></ul>
        </div>
    </div>
</div>

<div class="modal fade" id="editOrganize" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #form="ngForm" (ngSubmit)="updateOrganize()">
                <div class="modal-header">
                    <h5 class="modal-title">CHỈNH SỬA THÔNG TIN ĐƠN VỊ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" name="PKID" id="PKID" hidden>
                    <div class="row mb-3">
                        <label for="" class="form-label">Tên đơn vị</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="NAME" id="NAME">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="form-label">Loại đơn vị</label>
                        <div class="col-sm-12">
                            <select class="form-select" aria-label="Default select example" id="TYPE">
                                <option value="BP">BP - Bộ phận văn phòng</option>
                                <option value="CP">CP - Công ty</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="form-label">Company Code</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="COMPANY_CODE" id="COMPANY_CODE">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="" class="form-label">Cost Center Code</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="COST_CENTER_CODE" id="COST_CENTER_CODE">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="deleteOrganize()">Xoá</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="createOrganize" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #form="ngForm" (ngSubmit)="createOrganize()" id="form-create-organize">
                <div class="modal-header">
                    <h5 class="modal-title">THÊM MỚI ĐƠN VỊ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label for="" class="form-label">Tên đơn vị</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="NAME" id="NAME-CREATE">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="form-label">Loại đơn vị</label>
                        <div class="col-sm-12">
                            <select class="form-select" id="TYPE-CREATE">
                                <option value="BP">BP - Bộ phận văn phòng</option>
                                <option value="CP">CP - Công ty</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="form-label">Company Code</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="COMPANY_CODE" id="COMPANY_CODE-CREATE">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="" class="form-label">Cost Center Code</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="COST_CENTER_CODE"
                                id="COST_CENTER_CODE-CREATE">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                </div>
            </form>
        </div>
    </div>
</div>