<div class="card">
    <div class="card-header">DANH SÁCH NGƯỜI DÙNG</div>
    <div class="card-body">
        <div class="d-flex flex-row">
            <div class="p-2">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUser"><i
                        class="bi bi-plus-lg"></i> Thêm mới</button>
            </div>
            <div class="p-2">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                    <input type="text" class="form-control" placeholder="Tìm kiếm" (keyup)="searchUser($event)">
                </div>
            </div>
        </div>


        <div *ngIf="listUser && listUser.length > 0">
            <table class="table table-hover table-bordered" id="table-user">
                <thead>
                    <tr>
                        <th scope="col" style="width: 46px;"></th>
                        <th scope="col">Tên đăng nhập</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">Chức vụ</th>
                        <th scope="col">Đơn vị</th>
                        <th scope="col" style="text-align: center;">Trạng thái</th>
                        <th scope="col" style="text-align: center;">Lịch sử</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listUser | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <td><img src="../../../../../assets/img/UserLogo.jpg" style="width: 100%;border-radius: 50%;">
                        </td>
                        <td [routerLink]="['/User','UserDetail', item.USER_NAME]">{{item.USER_NAME}}</td>
                        <td [routerLink]="['/User','UserDetail', item.USER_NAME]">{{item.FULL_NAME}}</td>
                        <td [routerLink]="['/User','UserDetail', item.USER_NAME]">{{item.TITLE_CODE}}</td>
                        <td [routerLink]="['/User','UserDetail', item.USER_NAME]">{{item.COMPANY_ID}}</td>
                        <td style="text-align: center;" [routerLink]="['/User','UserDetail', item.USER_NAME]">
                            <span class="badge bg-success" *ngIf="item.ACTIVE == 'Y'"><i
                                    class="bi bi-check-circle me-1"></i> Hoạt động</span>
                            <span class="badge bg-danger" *ngIf="item.ACTIVE == 'N'"><i
                                    class="bi bi-exclamation-octagon me-1"></i> Khoá</span>
                        </td>
                        <td style="text-align: center;">
                            <i class="bi bi-clock-history"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="float: right;">
                <ngb-pagination [pageSize]="pageSize" [collectionSize]="listUser.length" [(page)]="page" [maxSize]="5"
                    aria-label="User pagination" class="pagination"></ngb-pagination>
            </div>
        </div>
    </div>
</div>